@model HFund.Data.Models.Department
@using HFund.Utility
@using HFund.Web.HtmlHelpers;


@{
    ViewBag.Title = "Edit Department";
    Layout = "~/Views/Shared/_TCLHINLayout.cshtml";
}



@section _Inspinia_Tclhin_LeftSideNavigationMenu {

    @Html.Partial("_AdminLeftSideMenu")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2> Department </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "TclhinHome")">Home</a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Details", "Admin_Department")">Department</a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="" ibox float-e-margins"">

                    <div class="ibox-content">

                        <div class="text-left">
                            <span class="text-info">
                                @ViewBag.Message
                                @if (TempData[Common.Admin_Department_TempDataKey] != null)
                                {
                                    @TempData[Common.Admin_Department_TempDataKey]
                                }
                            </span>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-lg-3"></div>
                            @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-lg-6" })
                            <div class="col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-lg-3"></div>
                            @Html.LabelFor(model => model.DepartmentShortName, htmlAttributes: new { @class = "control-label col-lg-6" })
                            <div class="col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    @Html.EditorFor(model => model.DepartmentShortName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DepartmentShortName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3"></div>
                            </div>

                        </div>
                        <br />

                        <div class="row">
                            <div class="col-lg-3"></div>
                            @Html.LabelFor(model => model.ActiveInd, htmlAttributes: new { @class = "control-label col-lg-6" })
                            <div class="col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    @Html.CheckBoxFor(model => model.ActiveInd)
                                    @Html.ValidationMessageFor(model => model.ActiveInd, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            @Html.HiddenFor(model => model.DepartmentID)
                            @Html.Hidden("EditMode", 1)

                        </div>

                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                @Html.SubmitButtonEditWithIcon(null, null, null, null, new { id = "btnSave" })
                                <span class="TabSpaceRight"></span>
                                @Html.CancelLinkButton(null, "Admin_Department", "Details", null, "<i class='fa fa-ban'></i>&nbsp;Cancel", null, "btn btn-warning")
                            </div>
                            <div class="col-lg-3"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
